---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
     {% seo %}
<meta name="google-site-verification" content="lK6o-JNSTY42dtD1ctzoRd1irmxh9Tjd35PPjSeDa6M" />
<meta name="keywords" content="Ahmed Khalifa, Robotics, Mechatronics, Control theory, Automation, Multi-agent Robots, Flying Robots, Platoon, Assistant Professor, Post-doctoral">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
	{% include analytics.html %}
  </body>

</html>
